<div id="ModalFormBeneficiario" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Beneficiários</h4>
            </div>
            <div class="modal-body">

                <form id="formCadastroBeneficiario" method="post">
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Cpf">CPF:</label>
                                <input required="required" type="text" class="form-control" id="CpfBeneficiario" name="Cpf" placeholder="Ex.: 999.999.999-99" maxlength="14">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Nome">Nome:</label>
                                <input required="required" type="text" class="form-control" id="NomeBeneficiario" name="Nome" placeholder="Ex.: João" maxlength="50">
                                <input type="hidden" id="IdCliente" name="IdCliente">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <button id="submitBeneficiario" type="submit" class="btn btn-sm btn-success">Incluir</button>
                            </div>
                        </div>
                    </div>
                </form>
                <table id="gridBeneficiarios" class="table"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
    
</div>

